<aside class="sidebar">
  <a href="/homePage">
    <div>
      <img src="/images/robot-solid.svg" style="height: 35px" />
      <h3><%= username[0].name %></h3>
    </div>
    <h2>Programming-Blog</h2>
    <hr />
  </a>
  <ul>
    <a href="/category/cars"><li>Cars</li></a>
    <a href="/category/jets"><li>Jets</li></a>
    <a href="/category/agriculture"><li>Agriculture</li></a>
    <a href="/category/commerce"><li>Commerce</li></a>
    <a href="/category/electronics"><li>Electronics</li></a>
    <a href="/category/business"><li>Business</li></a>
    <a href="/category/wallpaper"><li>Wallpaper</li></a>
    <a href="/category/news"><li>News</li></a>
    <a href="/category/startups"><li>Startups</li></a>
    <a href="/category/art"><li>Art</li></a>
    <a href="/category/quotes"><li>Quotes</li></a>
    <a href="/category/literature"><li>Literature</li></a>
    <a href="/category/music"><li>Music</li></a>
  </ul>
  <hr />
</aside>
